<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        
        <div class="nav-wrapper">
            <div class="logo">
                <p>Logo</p>
            </div>
            <div class="search-bar">
                <form action="">
                    <input type="search" name="" placeholder="Search for item" id="search">
                    <input type="submit" value="Search" id="submit">
                </form>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Market</a></li>
                    <li><a href="/contact">Cart</a></li>
                    <li><a href="/contact">Log in</a></li>
                    <li><a href="/contact">Sign Up</a></li>
                </ul>
            </nav>
        </div>

        <div class="banner">
            <h1>Buy or sell items</h1>
            <div class="links-for-buying-and-selling">
                <div class="buy">
                    <a href="/buy">Buy</a>
                </div>
                <div class="sell">
                    <a href="/sell">Sell</a>
                </div>
            </div>
        </div>
    </header>

    <main>

    </main>

    <footer>
        <h2>Stay in touch</h2>

        &copy Copyrights Reserved | <script> document.write(new Date().getFullYear()); </script>
    </footer>
    
</body>
</html>